.ad {
  background-image: url("../../public/images/ad.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 60px;
  width: 100%;
}
.mtop {
  // margin-top:;
}
.smai {
  position: absolute;
  // top: -5px;
  // right: -10px;
}
